<v-content>

    <v-layout>
        <!-- Todo: have a loader on all of these to load them seperatly -->
        <v-flex sm3>
            <!-- Todo: add a button to get to newProject -->
            left side: All your projects in a list
        </v-flex>

        <v-flex sm7>
            middle: how your projects are doing || updates in projects you are following etx
        </v-flex>

        <v-flex sm2>
            right side: Projects that are similar to yours. Todo: do this later
        </v-flex>
    </v-layout>

    <section>

    </section>
    <section> </section>
</v-content>