<nav>
    <v-toolbar app dark color="primary">
        <!-- Todo: @click push to home route -->
        <v-toolbar-title @click='$router.push("/")'>
            What-Next
        </v-toolbar-title>
        <!-- Todo: Make this a computed property -->

        <v-spacer></v-spacer>
        <v-toolbar-items class="mr-0" v-if='!$store.getters.isUserSignedIn'>
            <!-- <v-btn @click='signInDialog = !signInDialog'>Sign In</v-btn> -->
            <v-btn to='/join' flat>Sign Up</v-btn>
            <v-btn to='/login' flat>Sign In</v-btn>
        </v-toolbar-items>

        <v-toolbar-items class="mr-0" v-else>
            <!-- Todo: make this into a computed  -->
            <v-btn :to='toUserData' flat>{{getUsername}}</v-btn>
        </v-toolbar-items>
    </v-toolbar>
</nav>